body {
	font-weight: 400;
	padding: 10px 0 0 0;
}
.container {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width:1070px;
	margin-right: auto;
	margin-left: auto;
}
.container .jumbotron {
	background-color: #4063ae;
	/*background-image: url(../img/background1.png);*/
	margin-top: 12px !important;
	color: white;
	padding-bottom: 40px;
	padding-right:20px;
	padding-left:20px;
	width: 1070px;
}

input {
	color: #000000;
}

.jumbotron h1 {
	font-size: 38px;
}

.logo {
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	width: 25%;
	height: 120px;
	margin-right:10px;
}

.slogan p {
	font-size: 24px;
	margin-bottom: 0px;
	color: #4063ae;
}
.slogan h1 {
	margin-top: 10px;
	font-size: 30px;
}
.slogan {
	color: #0854a2;
	margin-top: 15px;
}
.inputText {
	display: inline;
}

.fname {
	width: 175px;
	margin-left: 48px;
}
.contacts {
	font-weight: 300 !important;
	font-size: 12px !important;
	margin-top: 100px;
	margin-bottom: 0px;
	width:100%;
}

.lname {
	width: 473px;
	margin-left: 15px;
}

.bdgname {
	width: 788px;
	margin-left: 35px;
}

.positionname {
	width: 788px;
	margin-left: 90px;
}

.companyname {
	width: 788px;
	margin-left: 56px;
}
.emailname {
	width: 788px;
	margin-left: 83px;
}
.phone {
	width: 175px;
	margin-left: 52px;
}
.mobile {
	width: 175px;
	margin-left: 43px;
}
.city {
	width: 175px;
	margin-left: 60px;
}
.street {
	width: 175px;
	margin-left: 81px;
}
.Hotel-prefernces {
	width: 175px;
	margin-left: 17px;
}
.required-message {
	color: #EE0101;
	display: none;
}

table, th, td {
	border-collapse: collapse;
	border: 0px solid black;
}
th, td {
	padding-top: 15px;
	padding-bottom: 15px;
}

.table-input label {
	font-weight: 200;
}

.radios {
	margin-left: 80px !important;
}

.normal {
	margin-left: 80px !important;
}
.payment {
	margin-left: 50px !important;
}
.creditcard {
	margin-left: 100px !important;
}
.creditcards {
	margin-left: 25px !important;
}
.creditcards2 {
	padding-left: 370px !important;
}
.flight1 {
	margin-left:20px;
	width:160px;
}
.flight2 {
	width: 160px;
}
.time1 {
	width: 157px;
}
.pay th, td {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.creditcardname1 {
	width: 300px !important;
	margin-left: 80px;
}
.creditcardname2 {
	width: 300px !important;
	margin-left: 10px;
}
.creditcardname3 {
	width: 300px !important;
	margin-left: 30px;
}
.grayTable {
	background-color: #d9e0ef;
	opacity: 0.9;
	color: #0854a2;
	border-collapse: collapse;
	border: 0px solid black;
	width: 100%;
	padding: 20px;
}

.grayTable th, td {
	padding-top: 0px;
	padding-left: 25px;
}
.transportcheck {
	margin-left: 60px !important;
}
.smoke {
	margin-left: 30px !important;
}

.other {
	margin-left: 105px !important;
}
.page2 {
	font-size: 16px;
	border-collapse: collapse;
	border: 0px solid black;
}
.page2 th, td {
	padding-bottom: 0px;
	padding-top: 0px;
}
.page2 label {
	font-weight: 200;
}
.page2 h2 {
	font-size: 16px;
}

.grayTable h2 {
	font-size: 20px;
}
.grayTable input {
	background-color: white;
}

input[type=submit], input[type=button], button {
	border: 3px solid #fff;
	background: #4063ae;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 0px;
	width: 130px;
	height: 50px;
	color: white;
	font-weight: 500;
	margin-top: 20px;
}
.fnametd {
	width: 10%;
}
.citytd {
	width: 30%;
}

.mobiletd {
	width: 30%;
}
.hotel-preferences {
	margin-bottom: 20px;
}
.note {
	margin-top: -10px;
	font-style: italic;
	padding-bottom: 10px;
	font-size: 12px;
	font-weight:normal;
}
.section-title {
	margin-top: 10px;
}
.option-label {
	font-weight: 500;
}
.error-element {
	background-color: red;
	border-color: red;
}
.error-label {
	color:red;
}

.slogan p, .slogan h1 {
	padding-left:10px;
}
.no-left-padding {
	padding-left:0;
}
.meeting-comment .form-control {
	padding: 6px 6px;
	width: auto;
	background-color: #E6EAF2;
}
.bottom-20 {
	margin-bottom:20px;
}
.bottom-40 {
	margin-bottom:40px;
}
.top-20 {
	margin-top:20px;
}
.top-40 {
	margin-top:40px;
}
.company-name {
	font-size: 17px;
	font-weight: normal;
	/*font-weight: 600;*/
}
.company-row {
	margin-bottom: 15px;
}
.panel-body .company-row {
	margin-bottom: 30px;
}
.companies-list td.category-name-header, .analysts-list td.category-name-header {
	width: 35%;
}
.companies-list td.category-name {
	font-size: 17px;
	padding-bottom: 5px;
}
.companies-list td, .analysts-list td {
	padding-bottom: 20px!important;
}
td.meeting-type-header,
td.meeting-priority-header,
td.comments-header, 
td.category-name-header {
	padding-bottom: 5px!important;
	font-size:20px;
}

.companies-list td.comments textarea {
	width:90%;
	height:110%;
/*	width: 120%;
	height: 80px;
	margin-left: -30%;
*/}
.analysts-list td.comments textarea {
	width:90%;
	height:90%;
/*	width: 120%;
	height: 80px;
	margin-left: -30%;
*/}

.analysts-list td.meeting-type-header, .analysts-list td.meeting-priority-header, .analysts-list td.comments-header {

}
.lname-row  input, .fname-row input, .company-row  input {
	width:300px;
}


.lname-row>td:first-child, .company-row>td:first-child, .fname-row>td:first-child{
	width:15%;
}
.contacts .header-row td {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}
label.extra-info {
	margin-top: 3px;
	font-style: normal;
}
.analysts-list tr td .small-group, .analysts-list  tr td .low-priority {
	margin-bottom:8px;
}

.analysts-list tr td .small-group.special, .analysts-list  tr td .low-priority.special {
	margin-bottom:18px;
}